<IfModule mod_rewrite.c>
    RewriteEngine On

    # Aturan untuk menghapus .php dari URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>
